
/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana,Geneva,sans-serif;
}

:root {
    --mainColor: #FBAB45;
    --subColor: #474747;
}

.container {
    width: 95%;
    margin: auto;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 0 0 6% 0;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: Georgia,"Times New Roman",Times,serif;
}


.header {
    text-align: center;
    padding-bottom: 7%;
}

.header h5 {
    color: var(--subColor);
    font-size: 0.9rem;
    font-weight: normal;
    font-family: Verdana,Geneva,sans-serif;
    line-height: 1.5;
}

.header h2 {
    color: var(--subColor);
    font-weight: lighter;
    font-size: 1.9rem;
    line-height: 1.3;
}

.header span {
    display: inline-block;
    width: 11%;
    height: 0.3rem;
    background-color: #FA8D0A;
    border-radius: 10px;
}

.hover::before {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    content: "";
    transition: all .3s ease-in-out;
}

.hover::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50% , -50%);
    font-weight: 900;
    font-family: "Font Awesome\ 5 Free";
    content: "\f067";
    font-size: 1.8rem;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.hover:hover::after {
    opacity: 1;
}

.hover:hover::before {
    background-color: rgba(251,171,69,0.5);
}

.h2-title {
    color: #fff;
    font-size: 1.05rem;
    font-weight: normal;
    padding-right: 1%;
    margin-bottom: 25%;
}

/* Coffee Section */

.coffee {
    background-image: url(../images/background-02.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.coffee .overlay {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 8% 0;
}

.coffee .header {
    text-align: left;
}

.coffee .header h5 ,
.coffee .header h2 {
    color: #fff;
}

.coffee .full-coffee {
    background-image: url(../images/background-03.jpg);
    vertical-align: middle;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}

.coffee .full-coffee .about {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 12% 10%;
    transition: background-color 0.5s;
}

.coffee .full-coffee .about h2 {
    color: var(--subColor);
    font-size: 1.9rem;
    font-weight: lighter;
    padding-right: 1%;
    padding-bottom: 7%;
}

.coffee .full-coffee .about p {
    color: var(--subColor);
    font-size: 0.88rem;
    font-weight: normal;
    line-height: 1.6;
    padding-bottom: 11%;
}

.coffee .full-coffee .about a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.85rem;
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
    padding: 3% 5%;
    transition: background-color 0.5s , color 0.5s , border 0.5s;
}

.coffee .full-coffee .about:hover {
    background-color: rgba(255, 255, 255, 1);
}

.coffee .full-coffee .about a:hover {
    border: 1px solid var(--subColor);
    background-color: transparent;
    color: var(--subColor);
}