
/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana,Geneva,sans-serif;
}

:root {
    --mainColor: #FBAB45;
    --subColor: #474747;
}

.container {
    width: 95%;
    margin: auto;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 0 0 6% 0;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: Georgia,"Times New Roman",Times,serif;
}


.header {
    text-align: center;
    padding-bottom: 7%;
}

.header h5 {
    color: var(--subColor);
    font-size: 0.9rem;
    font-weight: normal;
    font-family: Verdana,Geneva,sans-serif;
    line-height: 1.5;
}

.header h2 {
    color: var(--subColor);
    font-weight: lighter;
    font-size: 1.9rem;
    line-height: 1.3;
}

.header span {
    display: inline-block;
    width: 11%;
    height: 0.3rem;
    background-color: #FA8D0A;
    border-radius: 10px;
}

.hover::before {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    content: "";
    transition: all .3s ease-in-out;
}

.hover::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50% , -50%);
    font-weight: 900;
    font-family: "Font Awesome\ 5 Free";
    content: "\f067";
    font-size: 1.8rem;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.hover:hover::after {
    opacity: 1;
}

.hover:hover::before {
    background-color: rgba(251,171,69,0.5);
}

.h2-title {
    color: #fff;
    font-size: 1.05rem;
    font-weight: normal;
    padding-right: 1%;
    margin-bottom: 25%;
}

/* Activity section */

.activity {
    padding: 7% 0;
}

.activity .container {
    text-align: center;
}


.activity .activity-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 7% 0;
    grid-gap: 3%;
}

.activity .activity-items .activity-item div {
    display: flex;
    align-items: center;
    
}

.activity .activity-items .activity-item h2 {
    font-size: 1.22rem;
    padding-left: 8%;
    font-weight: lighter;
    color: var(--subColor);
}

.activity .activity-items .activity-item p {
    padding-top: 6%;
    color: var(--subColor);
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: left;
}

.activity a {
    text-decoration: none;
    color: #fff;
    padding: 1.2% 1.8%;
    border: 1px solid var(--mainColor);
    font-size: 0.9rem;
    text-transform: uppercase;
    background-color: var(--mainColor);
    transition: background-color 0.3s ease-in-out ,
    color 0.3s ease-in-out , border 0.3s ease-in-out;
}

.activity .activity-items .activity-item i {
    transition: color 0.4s 0.5s;
}

.activity .activity-items .activity-item:hover i {
    color: var(--mainColor);
}

.activity a:hover {
    background-color: transparent;
    border: 1px solid var(--subColor);
    color: var(--subColor);
}